@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Lucida Sans Unicode";
	src: url("../fonts/Lucida Sans Unicode/Lucida Sans Unicode.eot");
	src: url("../fonts/Lucida Sans Unicode/Lucida Sans Unicode.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Lucida Sans Unicode/Lucida Sans Unicode.woff") format("woff"),
	url("../fonts/Lucida Sans Unicode/Lucida Sans Unicode.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Lucida Grande V1";
	src: url("../fonts/Lucida Grande V1/Lucida Grande V1.eot");
	src: url("../fonts/Lucida Grande V1/Lucida Grande V1.eot?#iefix") format("embedded-opentype"),
	url("../fonts/Lucida Grande V1/Lucida Grande V1.woff") format("woff"),
	url("../fonts/Lucida Grande V1/Lucida Grande V1.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "SegoeUI";
	src: url("../fonts/SegoeUI/SegoeUI.eot");
	src: url("../fonts/SegoeUI/SegoeUI.eot?#iefix") format("embedded-opentype"),
	url("../fonts/SegoeUI/SegoeUI.woff") format("woff"),
	url("../fonts/SegoeUI/SegoeUI.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUI-Bold";
	src: url("../fonts/SegoeUI-Bold/SegoeUI-Bold.eot");
	src: url("../fonts/SegoeUI-Bold/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/SegoeUI-Bold/SegoeUI-Bold.woff") format("woff"),
	url("../fonts/SegoeUI-Bold/SegoeUI-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}